.items {
    background: #fff;
    max-width: 1140px;
    margin: 30px auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;
}

.banner {
    display: none;
}

.items__top {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: #1C294D;
    padding: 18px 25px;
    border-bottom: solid 1px #DFE0E1;
    display: flex;
    justify-content: space-between;
}

.items__header {
    margin: 0;
}

.items__books {
    display: flex;
    justify-content: space-between;
}

.items__item {
    display: flex;
    flex-direction: column;
    position: relative;

    -webkit-box-align: left !important;
    align-items: left;
    justify-content: left;
    -webkit-box-pack: left;
}

.item__content {
    padding: 25px 20px;
}

.items__item:not(:last-child) {
    border-right: solid 1px #DFE0E1;
}

.item__image {
    margin: 5px auto 15px;
}

.item__label {
    position: absolute;
    border-radius: 5px;
    padding: 5px 10px;
    left: 25px;
    top: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.item__label_bestseller {
    background: #EEE9F7;
    color: #AC8EE3;
}

.item__label_new {
    background: #E2F6EC;
    color: #3DC47E;
}

.item__proposal {
    position: absolute;
    border-radius: 5px;
    padding: 5px 10px;
    left: 25px;
    top: 45px;
    background: #FFEEEE;
    color: #FF4F52;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.item__description {
    margin: auto;
    text-align: left;
    margin-bottom: 10px;
}

.item__category {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(28, 41, 77, 0.5);
    margin: 0;
}

.item__title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    margin: 8px 0;
}

.item__author {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.1px;
    color: #1C294D;
    margin: 0 0 8px;
    opacity: 0.8;
    align-self: start;
}

.item__price {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 12px;
    color: #1C294D;
    align-self: start;
}

.item__price::after {
    content: ' ₽';
}

.items__bottom {
    padding: 10px 0;
    text-align: center;
    border-top: solid 1px #DFE0E1;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1C294D;
}

.item__buttons {
    display: flex;
    align-self: start;
}

.item__add-to-cart, .item__add-to-favorites {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #1C294D;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-right: 10px;
    cursor: pointer;
}

.item__recommendations {
    display: flex;
    margin-bottom: 10px;
    align-self: start;
}

.item__rating {
    background: #fff1e4;
    border-radius: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    text-transform: uppercase;
    padding: 6px 9px;
    color: #ffa34d;
    display: flex;
    width: fit-content;
    align-items: center;
    margin-right: 10px;
}

.icon_small {
    margin-right: 4.25px;
}

.item__recomend {
    background: #ebedf7;
    border-radius: 5px;
    padding: 6px 9px;
    display: flex;
    width: fit-content;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #7986CB;
}

.show-more {
    text-decoration: none;
    color: #1C294D;
}

.items__control-buttons {
    display: flex;
}

.control-buttons__button:focus {
    outline: none;
}

.control-buttons__button {
    width: 30px;
    height: 30px;
}

.control-buttons__button_right {
    border: 1px solid rgba(28, 41, 77, 0.15);
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    display: flex;
    cursor: pointer;
}

.control-buttons__button_left {
    border-top: 1px solid rgba(28, 41, 77, 0.15);
    border-left: 1px solid rgba(28, 41, 77, 0.15);
    border-bottom: 1px solid rgba(28, 41, 77, 0.15);
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
    display: flex;
    cursor: pointer;
}

.control-buttons__icon {
    margin: auto;
}

@media screen and (min-width:375px) and (max-width:414px) {
    .banner {
        display: block;
    }
    
    .items__item {
        padding: 0;
        width: calc(50% - 1px) !important;
        -webkit-box-align: left;
        
    }

    .items__books:nth-child(3), .items__books:nth-child(4) {
        display: none;
    }

    .items {
        margin: 0 10px;
    }
    .one, .two {
        padding: 0 20px;
    }

    .one, .two, .day {
        border-radius: 5px;
        width: calc(100% - 60px);
        margin: auto;
    }

    .item__image {
        height: 160px;
    }

    .item__title {
        max-width: fit-content;
        max-height: 76px;
        overflow: hidden;
    }

    .item__recommendations {
        flex-direction: column;
    }

    .item__rating {
        margin-bottom: 8px;
        font-size: 10px;
    }

    .item__recomend {
        font-size: 10px;
    }

    .item__add-to-cart, .item__add-to-favorites {
        padding: 5px 7px
    }

    .item__add-to-cart {
        margin-right: 5px;
        font-size: 10px;
    }
}

@media screen and (max-width:320px) {

    .items__item {
        border-right: none !important;
        width: calc(100% - 40px);
    }
    
    .items__item {
        width: 100%;
        -webkit-box-align: left;
        
    } 
}

@media screen and (min-width:768px) {
    
    .items__item {
        -webkit-box-align: left;
    } 
}