@import url('./level-1/level-1.css');
@import url('./level-2/level-2.css');
@import url('./level-3/level-3.css');

header {
    padding-bottom: 20px;
    margin: auto;
    background: #fff;
}

.topline {
    width: 100%;
    border-bottom: solid 1px #DFE0E1;
}

.under-topline {
    width: 1140px;
    margin: auto;
}